<h2>4. Implementation</h2>

<p>This section provides an overview of the implementation details for the software project. It outlines the programming languages, dependencies, integrated services, files, protocols, and development documentation that have been used or created as part of the development process. Understanding these aspects is essential for ensuring that the software is well-structured, maintainable, and interoperable with other systems.</p>

<h3>4.1. Programming Languages</h3>

{%- if data.smp.implementation.programmingLanguages and data.smp.implementation.programmingLanguages|length > 0 -%}
<p>The software project has been developed using the following programming languages:</p>
<ul>
{%- for language in data.smp.implementation.programmingLanguages -%}
    <li>
        <strong>{{ language.language }}</strong>{% if language.description %}: {{ language.description }}{% endif %}
        {% if language.packagingTools|length > 0 %}
            {% if language.packagingTool|length == 1 %}
                <br>We will be creating software packages using the <strong>{{ language.packagingTool[0] }}</strong> packaging tool.
            {% else %}
                <br>We will be creating software packages using the following packaging tools: <strong>{{ language.packagingTool|join(", ") }}</strong>.
            {% endif %}
        {% else %}
            <br>We will not be creating software packages using any tools for this software project.
        {% endif %}
    </li>
{%- endfor -%}
</ul>
{%- else -%}
<p>No specific programming languages have been identified (yet) for this software project.</p>
{%- endif -%}

<h3>4.2. Dependencies</h3>

{%- if data.smp.implementation.dependencies.uses == True -%}
    <p>
    The software project will use external dependencies.
    {% if data.smp.implementation.dependencies.licenseChecking %}
        We will be checking the licenses of these dependencies to ensure compliance with the project's licensing requirements. {{ data.smp.implementation.dependencies.licenseChecking|dot }}
    {% endif %}
    </p>
{%- elif data.smp.implementation.dependencies.uses == False -%}
    <p>The software project does not use any external dependencies.</p>
{%- else -%}
    <p>No specific dependencies have been identified yet for this software project.</p>
{%- endif -%}

<h3>4.3. Integrated Services</h3>

{%- if data.smp.implementation.integratedServices.uses and data.smp.implementation.integratedServices.externalServices -%}
<p>The software project has integrated the following services:</p>
<ul>
    {%- for service in data.smp.implementation.integratedServices.externalServices -%}
    <li>{% if service.url %}<a href="{{ service.url }}" target="_blank"><strong>{{ service.name }}</strong></a>{% else %}<strong>{{ service.name }}</strong>{% endif %}{% if service.description %}: {{ service.description }}{% endif %}</li>
    {%- endfor -%}
</ul>
{%- else -%}
<p>No specific integrated services have been identified (yet) for this software project.</p>
{%- endif -%}

<h3>4.4. Files</h3>

{%- if data.smp.implementation.files.uses -%}
    {%- if data.smp.implementation.files.anyNonOpenStandard -%}
        <p>The software project uses some non-open file formats.{% if data.smp.implementation.files.reason %} The reason is as follows: {{ data.smp.implementation.files.reason }}{% endif %}</p>
    {%- else -%}
        <p>The software project uses only open file formats.</p>
    {%- endif -%}
{%- else -%}
    <p>No specific file formats have been yet identified for this software project.</p>
{%- endif -%}

<h3>4.5. Protocols</h3>

{%- if data.smp.implementation.protocols.uses and data.smp.implementation.protocols.protocols  -%}
    {%- if data.smp.implementation.protocols.anyNonOpenStandard -%}
        <p>The software project uses some non-open protocols.{% if data.smp.implementation.protocols.reason %} The reason is as follows: {{ data.smp.implementation.protocols.reason }}{% endif %}</p>
    {%- else -%}
        <p>The software project uses only open protocols.</p>
    {%- endif -%}
{%- else -%}
    <p>No specific protocols have been yet identified for this software project.</p>
{%- endif -%}

<h3>4.6. Version Control</h3>

{% if data.smp.implementation.vcs.uses %}
    <p>The software project uses version control.</p>

    {%- if data.smp.implementation.vcs.vcs and data.smp.implementation.vcs.vcs|length > 0 -%}
    <p>The following version control systems are used for this software project:</p>
    <ul>
        {%- for vcs in data.smp.implementation.vcs.vcs -%}
        <li>{% if vcs.url %}<a href="{{ vcs.url }}" target="_blank"><strong>{{ vcs.url }}</strong> ({{ vcs.type }})</a>{% else %}<strong>{{ vcs.type }}</strong>{% endif %}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{% else %}
    <p>The software project does not use version control.</p>
{% endif %}
