<h2>7. Deployment and Delivery</h2>

<p>This section describes the deployment and delivery of the software product. It includes information on the minimum requirements for using the software, the platforms it supports, any special hardware requirements, how reproducible the software is, the products that are produced, how they are distributed, and how users can access the software. It also includes information on user support.</p>

<h3>7.1. Minimum Requirements</h3>

{% if data.smp.deploymentDelivery.minRequirements.uses == True %}
    <p>We specify the minimum requirements for using the software product. It helps users understand what they need to run the software.</p>

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Requirements</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CPU</td>
                <td>{% if data.smp.deploymentDelivery.minRequirements.cpu %}{{ data.smp.deploymentDelivery.minRequirements.cpu }}{% else %}<em>(not specified)</em>{% endif %}</td>
            </tr>
            <tr>
                <td>Memory</td>
                <td>{% if data.smp.deploymentDelivery.minRequirements.memory %}{{ data.smp.deploymentDelivery.minRequirements.memory }}{% else %}<em>(not specified)</em>{% endif %}</td>
            </tr>
            <tr>
                <td>Storage</td>
                <td>{% if data.smp.deploymentDelivery.minRequirements.storage %}{{ data.smp.deploymentDelivery.minRequirements.storage }}{% else %}<em>(not specified)</em>{% endif %}</td>
            </tr>
            <tr>
                <td>GPU</td>
                <td>{% if data.smp.deploymentDelivery.minRequirements.gpu %}{{ data.smp.deploymentDelivery.minRequirements.gpu }}{% else %}<em>(not specified)</em>{% endif %}</td>
            </tr>
            <tr>
                <td>Other</td>
                <td>{% if data.smp.deploymentDelivery.minRequirements.other %}{{ data.smp.deploymentDelivery.minRequirements.other }}{% else %}<em>(not specified)</em>{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% elif data.smp.deploymentDelivery.minRequirements.uses == False %}
    <p>We did not identify any minimum requirements for using the software product.</p>
{% else %}
    <p>There is no information available yet on the minimum requirements for using the software product.</p>
{% endif %}

<h3>7.2. Operating Systems and Runtime Platforms</h3>

{% if data.smp.deploymentDelivery.operatingSystems and data.smp.deploymentDelivery.operatingSystems|length > 0 %}
    <p>The software product supports the following operating systems:</p>

    <ul>
        {% for os in data.smp.deploymentDelivery.operatingSystems %}
            <li>
                <strong>{{ os.name }}</strong>
                {% if os.concerns %}
                    - there are specific concerns identified for this operating system: {{ os.concerns|dot }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There is no information available yet on the operating systems supported by the software product.</p>
{% endif %}

{% if data.smp.deploymentDelivery.runtimePlatforms and data.smp.deploymentDelivery.runtimePlatforms|length > 0 %}
    <p>The software product supports the following runtime platforms:</p>
    <ul>
        {% for platform in data.smp.deploymentDelivery.runtimePlatforms %}
            <li>
                <strong>{{ platform.name }}</strong>
                {% if platform.concerns %}
                    - there are specific concerns identified for this runtime platform: {{ platform.concerns|dot }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There is no information available yet on the runtime platforms supported by the software product.</p>
{% endif %}

<h3>7.3. Special Hardware</h3>

{% if data.smp.deploymentDelivery.specialHardware.needs == True %}
    <p>The software product has special hardware requirements.
    {% if data.smp.deploymentDelivery.specialHardware.hardware and data.smp.deploymentDelivery.specialHardware.hardware|length > 0 %}
        The following hardware is required:</p>
        <ul>
            {% for hardware in data.smp.deploymentDelivery.specialHardware.hardware %}
                <li>
                    <strong>{{ hardware.name }}</strong>
                    {%- if hardware.description -%}: {{ hardware.description|dot }}{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        </p>
    {% endif %}
{% elif data.smp.deploymentDelivery.specialHardware.needs == False %}
    <p>The software product does not have any special hardware requirements.</p>
{% else %}
    <p>There is no information available yet on the special hardware requirements of the software product.</p>
{% endif %}

<h3>7.4. Reproducibility</h3>

{% if data.smp.deploymentDelivery.reproducibility.uses == True %}
    <p>
    The software product is reproducible. This means that the results can be reproduced by others using the same data and methods.
    {% if data.smp.deploymentDelivery.reproducibility.description %}
        {{ data.smp.deploymentDelivery.reproducibility.description|dot }}
    {% endif %}
    </p>
{% elif data.smp.deploymentDelivery.reproducibility.uses == False %}
    <p>The software product is not reproducible. This means that the results cannot be reproduced by others using the same data and methods.</p>
{% else %}
    <p>There is no information available yet on the reproducibility of the software product.</p>
{% endif %}

<h3>7.5. Distribution</h3>

{%- if data.smp.deploymentDelivery.howDistributed %}
    <p>We will distribute the software products in the following ways:</p>
    <ul>
    {%- if "installer" in data.smp.deploymentDelivery.howDistributed %}
        <li><strong>Standalone Installer</strong></li>
    {%- endif %}
    {%- if "package" in data.smp.deploymentDelivery.howDistributed %}
        <li><strong>Package Managed / Index</strong></li>
    {%- endif %}
    {%- if "container" in data.smp.deploymentDelivery.howDistributed %}
        <li><strong>Container (e.g. Docker or Singularity)</strong></li>
    {%- endif %}
    {%- if "repo" in data.smp.deploymentDelivery.howDistributed %}
        <li><strong>Software Repository</strong></li>
    {%- endif %}
    {%- if "other" in data.smp.deploymentDelivery.howDistributed %}
        <li><strong>Other</strong></li>
    {%- endif %}
    </ul>
{%- else %}
    <p>There is no information available yet on the products and distribution of the software product. This will be updated as we progress with the project.</p>
{%- endif %}

<h3>7.6. Access and Support</h3>

{% if data.smp.deploymentDelivery.access.isFree == "yes" %}
    <p>The software product is free to access.</p>
{% elif data.smp.deploymentDelivery.access.isFree == "only-internal" %}
    <p>The software product is only free to access for internal users. External users may need to pay or meet certain conditions to access the software.</p>
{% elif data.smp.deploymentDelivery.access.isFree == "no" %}
    <p>
    The software product is not free to access. Users may need to pay or meet certain conditions to access the software. 
    {% if data.smp.deploymentDelivery.access.paymentModel %}
        The access conditions include: {{ data.smp.deploymentDelivery.access.paymentModel|dot }}
    {% endif %}
    </p>
{% else %}
    <p>There is no information available yet on the access to the software product.</p>
{% endif %}

{% if data.smp.deploymentDelivery.userSupport.uses == True %}
    <p>User support is available for the software product.
    {% if data.smp.deploymentDelivery.userSupport.description %}
        The support services include: {{ data.smp.deploymentDelivery.userSupport.description|dot }}
    {% endif %}
    {% if data.smp.deploymentDelivery.userSupport.level %}
        The level of support provided is: {{ data.smp.deploymentDelivery.userSupport.level|dot }}
    {% endif %}
    </p>
    {% if data.smp.deploymentDelivery.userSupport.issueTrackers %}
        <p>Issue tracker(s) are available for the software product:</p>
        {% for tracker in data.smp.deploymentDelivery.userSupport.issueTrackers %}
            <ul>
                <li><a href="{{ tracker.url }}">{{ tracker.name }} ({{ tracker.url }})</a></li>
            </ul>
        {% endfor %}
    {% endif %}
{% elif data.smp.deploymentDelivery.userSupport.uses == False %}
    <p>User support is not available for the software product as we did not identify any need for support services at this point.</p>
{% else %}
    <p>There is no information available yet on user support for the software product.</p>
{% endif %}

