<section id="01-general" class="smp-section">
    {% include "src/content/01-general.html.j2" with context %}
</section>

<section id="02-collaboration" class="smp-section">
    {% include "src/content/02-collaboration.html.j2" with context %}
</section>

<section id="03-analysis-design" class="smp-section">
    {% include "src/content/03-analysis-design.html.j2" with context %}
</section>

<section id="04-implementation" class="smp-section">
    {% include "src/content/04-implementation.html.j2" with context %}
</section>

<section id="05-testing-qa" class="smp-section">
    {% include "src/content/05-testing-qa.html.j2" with context %}
</section>

<section id="06-versioning-releases" class="smp-section">
    {% include "src/content/06-versioning-releases.html.j2" with context %}
</section>

<section id="07-deployment-delivery" class="smp-section">
    {% include "src/content/07-deployment-delivery.html.j2" with context %}
</section>
