<header>
  <h1>{{ data.meta.document.name }}</h1>
  <div class="subtitle">
    Software Management Plan
  </div>

  <div class="info">
    <div class="version-info">
      {% for version in dc.qtn.versions if version.uuid == dc.qtn.version %}
        <div class="version">{{version.name}}</div>
      {% endfor %}
      <div class="date">{{ data.meta.document.createdAt|datetime_format("%d %B %Y") }}</div>
    </div>

    <p class="note">
      {%- set url_parts = dc.config.client_url.split("//")[1].split("/") -%}
      Software Management Plan created in <a href="{{ dc.config.client_url }}" target="_blank">{{ url_parts[0] }}</a>.
    </p>
  </div>
</header>
