<h1>
<strong>Software Management Plan</strong>
<br/>
<br/>
{% if dc.project.version %}
{% for version in dc.project.versions if version.uuid == dc.project.version.uuid %}
{{version.name}}
<br/>
{% endfor %}
{% endif %}
<br/>
{{ data.meta.document.createdAt|datetime_format("%d %B %Y") }}
</h1>
