{%- import "src/mapping/prepare-data.j2" as json with context -%}
{%- import "src/mapping/object.j2" as obj with context -%}
{%- set dc = ctx|to_context_obj -%}
{%- set data = obj.result -%}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ ctx.document.name }}</title>
  </head>
  <body>
    <article class="smp">
      {% include "src/word/frontpage.html.j2" with context %}
      {% include "src/word/versions.html.j2" with context %}
      {% include "src/content/content.html.j2" with context %}
    </article>
  </body>
</html>
