{%- import "src/mapping/prepare-data.j2" as json with context -%}
{%- import "src/mapping/object.j2" as obj with context -%}
{%- set dc = ctx|to_context_obj -%}
{%- set data = obj.result -%}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Software Management Plan</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
      {% include "src/style.css" %}
    </style>
  </head>
  <body>
    <article class="smp">
      {% include "src/content/frontpage.html.j2" with context %}
      {% include "src/content/versions.html.j2" with context %}
      {% include "src/content/content.html.j2" with context %}
    </article>
  </body>
</html>
