{%- set dc = ctx|to_context_obj -%}
{%- set object = dc|extract_replies -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JSON preview</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/williamtroup/JsonTree.js@4.7.1/dist/jsontree.js.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/gh/williamtroup/JsonTree.js@4.7.1/dist/jsontree.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
const obj = {{ object|tojson }};

function bindingOptions() {

    return {
      data: obj,
      openInFullScreenMode: true,
    }
}
</script>
  </head>
  <body>
    <div id="tree-1"  data-jsontree-js="bindingOptions"></div>
  </body>
</html>
